body {
  background-image: url("../images/house.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 30em;
  color: #ccc;
}

.header {
  display: flex;
  background-color: black;
  height: 4em;
}

.main {
  margin-left: 65em;
  color: rgb(243, 240, 240);
  border-radius: 15px;
  font-size: small;
  margin-top: 1em;
}

.logo {
  margin-left: 2em;
  margin-top: 1em;
}

.form-container {
  display: flex;
  margin-left: 25em;
  margin-right: 25em;
  font-size: large;
  margin-top: 2em;
  border-color: black;
  border-width: 56px;
  color: black;
  font-weight: bolder;
}

.back-ground {
  background-image: url("https://images.pexels.com/photos/351264/pexels-photo-351264.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  width: 50%;
  height: 500px;
  position: absolute;
  left: 68%;
  top: 50%;
  background-size: 100% 100%;
  transform: translate(-50%, -50%);
  margin-top: 3em;
  box-shadow: 1px 2px 10px 5px rgb(7, 7, 7);
  animation: slider 9s infinite linear;
  border-radius: 15px;
  color: black;
  font-weight: bolder;
  text-align: center;
}

aside {
  color: black;
  width: 35em;
  text-align: center;
  margin-top: 3em;
  background-color: aliceblue;
  border-radius: 15px;
  margin-left: 2em;
}

.bg-1 h1 {
  background-color: aliceblue;
  margin-top: 450px;
  font-size: 40px;
}

@keyframes slider {
  0% {
    background-image: url("https://images.pexels.com/photos/351264/pexels-photo-351264.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  }
  35% {
    background-image: url("https://images.pexels.com/photos/730547/pexels-photo-730547.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  }
  75% {
    background-image: url("https://images.pexels.com/photos/1602726/pexels-photo-1602726.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  }
}
