body {
  background-image: url("../images/credit.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 30em;
  color: #ccc;
}

.header {
  display: flex;
  background-color: black;
  height: 4em;
}

.main {
  margin-left: 65em;
  color: rgb(243, 240, 240);
  border-radius: 15px;
  font-size: small;
  margin-top: 1em;
}

.logo {
  margin-left: 2em;
  margin-top: 1em;
}

.form-container {
  display: flex;
  margin-left: 25em;
  margin-right: 25em;
  font-size: large;
  margin-top: 2em;
  border-color: black;
  border-width: 56px;
  color: black;
  font-weight: bolder;
}
